@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('./glide.core.min.css');
@import url('./glide.theme.min.css');

body, * {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    /* @apply bg-orange-200; */
}

p {
    @apply text-sm md:text-base;
}

.h1 {
    @apply font-bold text-4xl sm:text-5xl md:text-6xl;
}

.h2 {
    @apply font-bold text-5xl;
}

.h3 {
    @apply font-bold text-4xl;
    /* color: #dab284; */
}

.btn {
    @apply py-2 px-4 rounded-full text-sm md:text-base shadow-sm transition duration-150 bg-orange-800 text-white hover:bg-orange-900;
}

.text-field {
    @apply bg-transparent transition px-3 py-2 rounded-lg text-white ring-1 ring-gray-500 shadow-sm w-full focus:outline-none focus:ring-2 focus:ring-orange-200;
}

.height-centered {
  @apply flex items-center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.el-1 {
    transition-delay: 0ms;
}

.el-2 {
    transition-delay: 250ms;
}

.el-3 {
    transition-delay: 700ms;
}

.shown {
    opacity: 1;
    filter: none;
    transform: translateX(0%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hide {
        transition: none;
    }
}

.menu-shown {
	@apply transform opacity-100 scale-100 transition ease-out duration-100;
}

.menu-hidden {
	@apply transform opacity-0 scale-75 transition ease-in duration-75;
}

/* #menu-button:focus + #menu, #menu-button + #menu > div  div:focus ~ #menu  {
	@apply transform opacity-100 scale-100 transition ease-out duration-100;
}

#menu-button + #menu > div a:active {
	background-color: red !important;
} */